extends layout

block content
 
  .container
     a.btn.btn-info.mt-5.mb-3(href='/penilaian/pegawai/') Tambah
     table.table.mt-3#dataTable
      thead
        tr
          th(scope='col') No
          th(scope='col') Nama Pegawai
          th(scope='col') Nilai Teknik & Skill
          th(scope='col') Nilai Personality
          th(scope='col') Nilai Absen
          th(scope='col') Nilai Sanksi
          th(scope='col') Nilai Rata-rata
          th(scope='col') Action
      tbody
        - var n = 1;
        each row, i in items
         tr 
          td #{n++}
          td #{row.nama}
          td #{row.nTeknik}
          td #{row.nPersonality}
          td #{row.nAbsen}
          td #{row.nSanksi}
            - var rata = row.nTeknik + row.nPersonality + row.nAbsen + row.nSanksi
            - var bagi = rata / 4
          td #{bagi}
          td 
           a.btn.btn-primary.mr-1(href='/penilaian/edit/'+row._id) Edit  
           a.btn.btn-danger.delete-penilaian(href='#',data-id=row._id ) Delete
        